section {
  width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  height: 495px;
}

.caption {
  font-weight: bold;
  font-size: 20px;
  color: #666666;
  border-bottom: 2px solid var(--color-menu-blue);
}

.info__left p {
  width: 485px;
  padding: 20px;
  color: #8B8B8B;
  line-height: 1.25rem;
}

.info__left table {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  padding: 10px 20px;
}

.info__left table tr {
  padding: 10px;
}

.info__left table tr > td:first-child {
  color: #2196f3;
  font-weight: bold;
}

.info__left table td {
  padding: 5px;
}

.gray {
  background-color: #ebebeb;
}

.gray__text {
  color: #959595;
  border-bottom: #959595 solid 2px;
}

.rigth {
  color: #8B8B8B;
  text-align: right;
}

.info__right {
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;
}

.img {
  margin: 10px 0;
  border: 3px dashed #E1F1FE;
  padding: 5px 30px;
}

.bottom_panel {
  display: flex;
  align-items: center;
}

.price {
  color: #2196f3;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.price__list {
  align-items: center;
  display: flex;
  min-width: 90px;
  height: 35px;
  color: #f4873e;
  background-color: #ffe2cf;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 10px;
}

.circle {
  margin-right: 15px;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
}

.bottom {
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  background-color: #f32221bf;
  color: white;
  margin-left: 90px;
}

.list {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_item {
  display: flex;
  flex-direction: column;
}

.list img {
  padding: 10px 15px;
}
