footer {
  display: grid;
  grid-template-areas: 'wrapper' 'annotation';
  grid-template-rows: 1fr 50px;
  width: 100%;
  height: 550px;
  background: url('../img/footer_bg.png') no-repeat;
  background-size: cover;
  font-family: Arial, serif;
}

footer .footer__wrapper {
  grid-template: 'wrapper';
  align-self: center;
  width: 1200px;
  margin: 0 auto;
}

footer .information {
  display: flex;
  justify-content: space-around;
}

footer .information__block {
  transition-duration: .3s;
}

footer .information__block img {
  width: 35px;
  height: 35px;
  text-align: center;
}

footer .information__block h3 {
  color: #ebebeb;
  text-transform: uppercase;
}

footer .information__block__text {
  color: #959595;
}

footer .dispatch {
  position: relative;
  margin-top: 70px;
  text-align: center;
}

footer .dispatch h3 {
  color: #ebebeb;
  font-weight: bold;
}

footer .dispatch__email {
  display: flex;
  justify-content: center;
}

footer .dispatch__email__input {
  width: 150px;
  height: 25px;
  border: none;
  outline: none;
  color: white;
}

footer .dispatch__email .input {
  background-color: var(--color-footer-gray);
  text-indent: 5px;
}

footer .dispatch__email .button {
  background-color: var(--color-footer-orange);
  font-weight: bold;
  text-transform: uppercase;
}

footer .social-icons {
  display: flex;
  width: 200px;
  height: 55px;
  margin: 0 auto;
  justify-content: space-between;
}

footer .social-icons__icon {
  width: 40px;
  height: 40px;
}

footer .social-icons__icon img {
  width: 40px;
  height: 40px;
}

footer .footer__annotation {
  grid-template: 'annotation';
  width: 100%;
  color: #ebebeb;
  text-align: center;
  font-size: 13px;
}
