/**
 * Здесь находятся базовые классы
 * которые будут нужны на всех страницах
 * например, переменные
 */

:root {
  --color-black: #111;
  --color-top-gray: #F3F3F3;
  --color-footer-gray: #404447;
  --color-footer-orange: #f4873e;
  --color-menu-blue: #3498DB;
  --color-menu-pale-blue: #78BFF7;
  --color-menu-hardplate-blue: #E1F1FE;
}

body {
  margin: 0;
  padding: 0;
}
