
header .header_wapper{
  grid-template: 'wrapper';
  align-self: center;
  font-family: Arial, serif;
  margin: 0 auto;
}

header .top_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

header .top_navigation a {
  text-decoration: none;
  color: #8B8B8B;
}

header .top_navigation__block {
  display: flex;
  justify-content: space-between;
  width: 610px;
}

.color {
  background-color: var(--color-top-gray);
}

header .top_navigation__block_information_contacts {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .top_navigation__block_location_contacts_number p {
  !important; color: var(--color-menu-blue);
}

header .top_navigation__block_location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;

}

header .top_navigation__block_location img {
  width: 30px;
  height: 50px;
}

header .top_navigation_block_registration {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

header .top_navigation_block_registration div {
  display: flex;
  align-items: center;
}

header .top_navigation_block_registration img {
  width: 30px;
  height: 30px;
}

header .nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

header nav .nav_bar_block_menu {
  display: flex;
  justify-content: space-between;
  width: 470px;
  padding-left: 0;
}

header nav .nav_bar_block_menu li {
  list-style-type: none;
}

header nav .nav_bar_block_menu_caption{
  width: 235px;
  height: 57px;
}

header nav .nav_bar_block_menu_caption img{
  width: 15px;
}
header nav .nav_bar_block_menu_caption:hover img{
  transform: rotate(90deg);
}

header nav #style_caption_menu{
  background-color: var(--color-menu-pale-blue);
  border-bottom: var(--color-menu-blue) solid 3px;
}
header nav #style_caption_menu:hover{
  background-color: var(--color-menu-blue);

}
header nav #style_caption_menu p{
  color: white;
  font-size: 14pt;
}

header nav .nav_bar_block_menu_paragraph p{
  font-size: 14pt;
}

header nav .nav_bar_block_menu_paragraph p{
  text-transform: uppercase;
  text-align: center;
}

header nav .nav_bar_block_menu a {
  color: #3498DB;
  text-decoration: none;

}

/*header div .nav_bar_block_menu_submenu {*/
  /*!*display: none;*!*/
/*}*/

header nav .nav_bar_block_menu_submenu h1 {
  color: #6E6E6E;
  text-transform: uppercase;
}

header nav .nav_bar_block_menu_submenu a {
  color: #29ABE2;
  line-height: 1.5;
  padding-left: 15px;
}

header nav .nav_bar_block_menu__caption_submenu:hover {
  width: 220px;
  background-color: var(--color-menu-hardplate-blue);
}

header nav .nav_bar_block_menu__caption_submenu img{
  display: none;
}
header nav .nav_bar_block_menu__caption_submenu:hover img{
  display: block;
  float: right;
  height: 25px;
  transform: rotate(-90deg);
}

header nav .nav_bar_block_menu_submenu ul{
  padding-left: 0px;
}

div.nav_bar_block_menu_submenu_level2{
  display: none;
}

.nav_bar_block_menu li ul{
  position: absolute;
  display: none;
  padding: 10px  0px 10px 0px;
  width: 234px;
  background-color: white;
  border-top: 1px solid var(--color-menu-hardplate-blue);
  border-bottom: 2px solid var(--color-menu-blue);
  border-right: 1px solid var(--color-menu-hardplate-blue);
  border-left: 1px solid var(--color-menu-hardplate-blue);
}

.nav_bar_block_menu li > ul li ul{
  right: -235px;
  position: absolute;
  top: 0;
}

.nav_bar_block_menu li:hover > ul{
  display: block;
}

header .nav_bar_search-icon {
  border: 15px var(--color-top-gray) solid;
  height: 30px;
  display: flex;
}

header .nav_bar_search-icon input {
  width: 300px;
  height: 29px;
  padding-left: 10px;
  border: none;
  outline: none;
}

header .nav_bar_search-icon img {
  width: 30px;
  height: 30px;
}

header .nav_bar_block_logo img {
  width: 140px;
  height: 95px;
}

header .nav_bar_buy-icon {
  width: 70px;
  height: 60px;
  background-color: var(--color-top-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

header .nav_bar_buy-icon a {
  background: url("../img/car-shop.svg") no-repeat center;
  width: 70px;
  height: 45px;
}




